<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ethereum Transfer Web</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
    <script type="text/javascript">
        function checkSelect() {
            var selectx = document.forms["selectForm"]["principle"].value;
            if (isNaN(selectx) || selectx == "") {
                alert("Please select your principle address[#] to transfer Ether");
                return false;
            }
        }

        function checkSelectQuery() {
            var selectx = document.forms["queryForm"]["principle"].value;
            var fromBlk = document.forms["queryForm"]["fromBlk"].value;
            var toBlk = document.forms["queryForm"]["toBlk"].value;
            if (isNaN(selectx) || selectx == "") {
                alert("Please select your principle address[#] to query Transaction History");
                return false;
            }
            if (isNaN(fromBlk) || fromBlk == "") {
                alert("Please input Block['from'] number to query Transaction History");
                return false;
            }
            if (isNaN(toBlk) || toBlk == "") {
                alert("Please input Block['to'] number to query Transaction History");
                return false;
            }
            if (fromBlk >= toBlk) {
                alert("Please check condition again to query Transaction History");
                return false;
            }
        }

        function checkPKImport() {
            var selectx = document.forms["importPKForm"]["inputPrivateKey"].value;
            if (selectx == "") {
                alert("Please Paste/Type Your Private Key");
                return false;
            }
        }

        function checkSeedImport() {
            var selectx = document.forms["importSeedForm"]["inputSeedPhrase"].value;
            if (selectx == "") {
                alert("Please Paste/Type Your Private Seed Phrase");
                return false;
            }
        }

        function checkUploader() {
            var selectx = document.forms["uploadForm"]["myKeyFile"].value;
            if (selectx == "") {
                alert("Please select a privatekey file to upload");
                return false;
            }
        }
    </script>
    <h3>Welcome to Ether Transfer Principle Web</h3>
    <h1>1.Select your principle address[#] for TransferEther</h1>
    <form name="selectForm" action="/selectPrincipalData" method="post" onsubmit="return checkSelect()">
        {% for i in range(value1): %}
        <p>
            <input type="radio" name="principle" id="option" value={{value0[0][i]}}>{{[i+1]}} Account Address: {{ value0[0][i] }}, ETHER: {{ value0[1][i] }} = USD: {{ value0[2][i] }} <br>
        </p>
        {% endfor %}
        <p><input type=submit value=Select></p>
        {% for message in get_flashed_messages(category_filter=['txResults']) %}
        <p>{{ message }}</p> {% endfor %}
    </form>
    <h1>2.Select your principle address[#] for Transanction History</h1>
    <form name="queryForm" action="/queryPrincipalData" method="post" onsubmit="return checkSelectQuery()">
        {% for i in range(value1): %}
        <p>
            <input type="radio" name="principle" id="option" value={{value0[0][i]}}>{{[i+1]}} Account Address: {{ value0[0][i] }}, ETHER: {{ value0[1][i] }} = USD: {{ value0[2][i] }} <br>
        </p>
        {% endfor %}
        <p>Current Block Number: {{ value2 }} </p>
        <p>Block['From'] <input type="text" name="fromBlk"> Block['To'] <input type="text" name="toBlk"></p>
        <p><input type=submit value=Query></p>
    </form>
    <h1>3.Import Account</h1>
    <table style="width: 70%; height: auto;" border="1" cellpadding="5">
        <tbody>
            <td>
                <form name="importPKForm" action="/importPrivateKey" method="post" onsubmit="return checkPKImport()">
                    <textarea name="inputPrivateKey" id="inputPrivateKey" placeholder="Type/Paste Your Private Key Here. &#10;e.g. d6f830894638d5ced80b5bf0e370af1cd7648844b192e04d76804257371cfa78" class="form-control" style="width: 90%;">{{ request.form['inputEtherValue'] }}</textarea>
                    <p><input type=submit value=Import>&nbsp&nbsp&nbsp</p>
                </form>
            </td>
            <td>
                <form name="importSeedForm" action="/importSeedPhrase" method="post" onsubmit="return checkSeedImport()">
                    <textarea name="inputSeedPhrase" id="inputSeedPhrase" placeholder="Type/Paste Your private seed phrase Here. &#10;e.g. dove lumber quote board young robust kit invite plastic regular skull history &#10;DO NOT share this phrase with anyone! &#10;These words can be used to steal all your accounts."
                        class="form-control" style="width: 90%; height: 100px;">{{ request.form['inputEtherValue'] }}</textarea>
                    <p><input type=submit value=Import>&nbsp&nbsp&nbsp</p>
                </form>
            </td>
        </tbody>
    </table>
    <br>
    <form name="uploadForm" action="/uploaderPrivateKey" method="POST" enctype="multipart/form-data" onsubmit="return checkUploader()">
        <label for="myKeyFile">Select a privatekey file to import (accept: .txt, .doc, .docx)<input type="file" id="myKeyFile" name="myKeyFile" accept=".txt,.doc,.docx"><input type="submit" value="Upload and Import"></label>
    </form>
    {% for message in get_flashed_messages(category_filter=['importResult']) %}
    <p>{{ message }}</p> {% endfor %}
    <br>
</body>

</html>