body {
    position: relative;
}

#swtichButton {
    position: sticky;
    top: 0;
}

#streamContents {
    position: sticky;
    top: 10;
    height: 500px;
}


/* https://css-tricks.com/creating-sliding-effects-using-sticky-positioning/ */