body {
    position: relative;
}

#swtichButton {
    position: sticky;
    top: 0;
}

#wrapper {
    height: 800px;
  }

#streamContents {
    position: sticky;
    top: 10;    
}


/* https://css-tricks.com/creating-sliding-effects-using-sticky-positioning/ */