<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
</head>

<body>
    <h2>Ethereum</h2>
    <p>Click on the buttons inside the tabbed menu:</p>

    <div class="tab">
        <button class="tablinks" onclick="openFunction(event, 'Transfer')">Ethereum WebTransfer</button>
        <button class="tablinks" onclick="openFunction(event, 'Scalping')">Mnemonic Scalping Function</button>
    </div>

    <div id="Transfer" class="tabcontent">
        <embed type="text/html" src="{{ url_for( 'AccountDashBoard') }}" width="1800" height="1500">
    </div>

    <div id="Scalping" class="tabcontent">
        <embed type="text/html" src="{{ url_for( 'MnemonicScalp') }}" width="700" height="950">
    </div>

    <script>
        function openFunction(evt, funcName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(funcName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body>

</html>