<!DOCTYPE html>
<html>

<body>
    <p>Show Private Keys</p>
    Type your KeyPhrase password: <input type="password" value="" id="myInput"><br><br>
    <input type="checkbox" name="password" onclick="myFunction()">Show Password
    <script type="text/javascript">
        function checkInput() {
            var selectx = document.forms["privateKeyForm"]["password"].value;
            if (isNaN(selectx) || selectx == "") {
                alert("Please type your keyphrase password");
                return false;
            }
        }

        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        function export_privateKey(account_name, account_key) {
            alert("Public address: " + account_name + "\nPrivate Key:\n" + account_key);
        }
    </script>
    <p>Warning: Never disclose this key. Anyone with your private keys can steal any assets held in your account.</p>
    <form name="privateKeyForm" action="/verifyKeyPhrase" method="post" onsubmit="return checkInput()">
        <input type=submit value="Export Private Key" onClick="export_privateKey('{{ value0 }}', '{{ value1 }}')">
    </form>

</body>

</html>