<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
</head>

<body>
    <script type="text/javascript">
        function loading() {
            $("#loading").show();
            $("#content").hide();
        }

        function checkInputPwd() {
            var keyPhrase = document.forms["privateKeyForm"]["passPhrase"].value;
            if (keyPhrase == "") {
                alert("Please type your keyphrase password");
                return false;
            }
        }

        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <div id="loading"></div>
    <div id="content">
        <form name="privateKeyForm" action="/verifyKeyPhrase" method="post" onsubmit="return checkInputPwd()">
            <p>Show private key for "{{ value0 }}"</p>
            Type your KeyPhrase password: <input type="password" name="passPhrase" id="myInput"><br>
            <input type="checkbox" onclick="myFunction()">Show Password
            <p>Warning: Never disclose this key. Anyone with your private keys can steal any assets held in your account.</p>
            <input type=submit value="Show private key" onclick="loading();">
        </form>
    </div>
</body>

</html>

<!-- https://stackoverflow.com/questions/14525029/display-a-loading-message-while-a-time-consuming-function-is-executed-in-flask -->